@import "assets/styles/mixins";

.dashboard-person {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    font-size: 0.9rem;
    align-items: center;

    img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
    .content {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
    }
    .name-wrapper {
        max-width: 70px;
    }
    .name {
        text-transform: capitalize;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .location {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
    .school {
        text-transform: uppercase;
    }
    .mutual {
        @include theme {
            color: themed($on-primary-color);
            background-color: themed($primary-color);
        }
        font-size: 0.8em;
        padding: 0.3rem 0.5rem;
        border-radius: 20px;
        white-space: nowrap;
        align-self: center;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .dashboard-person {
        .name-wrapper {
            max-width: clamp(70px, 25vw, 150px);
        }
    }
}
