@import "../../assets/styles/variable";

.top-loading-strip {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    @include theme {
        background-image: linear-gradient(
            90deg,
            green,
            red,
            themed($primary-color),
            themed($secondary-color),
            blue
        );
    }
    transform: translateX(-100%);
    background-size: 250%;
    animation: load 2s ease-in-out infinite alternate forwards, load-right 700ms ease-in-out forwards;
    z-index: $header-z-index + 1;
}

.loading-wrapper {
    height: 100vh;
}
.placeholder-loader {
    @include theme {
        background-color: themed($background-color);
    }
    position: fixed;
    display: grid;
    inset: 0;
    height: 100vh;
    z-index: $page-loading-z-index;
}
.dna-loading {
    width: clamp(100px, 20vw, 200px);
    margin: auto;
}
@keyframes load {
    from {
        background-position-x: 400%;
    }
    to {
        background-position-x: 0%;
    }
}

@keyframes load-right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}
