@import "assets/styles/mixins";

.guides-to-use {
    .note {
        margin-block: 4rem;
        padding-inline: $screen-content-padding;

        .heading {
            @include slide-in;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }
        p {
            @include slide-in;
        }
    }
}
